<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kunminx.relearn_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--<activity
            android:name="com.kunminx.basicfacttesting.activity_task_test.StandardActivity_One"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>-->

        <!-- 测试 AllowTaskReparent 时，可注释下方 Activity，和解除注释上方 Activity，具体详见
         《任务与返回栈篇》95 楼的解析 https://xiaozhuanlan.com/topic/7812045693 -->

        <activity android:name="com.kunminx.basicfacttesting.TestMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StandardActivity_I"
            android:exported="true" />

        <activity
            android:name=".SingleTaskActivity_G"
            android:exported="true"
            android:launchMode="singleTask" />

        <activity
            android:name=".SingleTaskActivity_H"
            android:exported="true"
            android:launchMode="singleTask" />

        <activity
            android:name=".SingleTopActivity_J"
            android:exported="true"
            android:launchMode="singleTop" />

        <activity
            android:name=".ClearTopAActivity"
            android:exported="true" />

        <activity
            android:name=".AllowTaskReparent_Activity"
            android:allowTaskReparenting="true"
            android:exported="true" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>