<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kunminx.basicfacttesting">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TestMainActivity"
            android:launchMode="singleInstance"
            android:taskAffinity="com.kunminx.basicfacttesting.si">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name=".test_01_activity_lifecycle.OneActivity" />
        <activity android:name=".test_01_activity_lifecycle.SecondActivity" />
        <activity android:name=".test_06_touch_dispatch.TestDispatchActivity" />
        <activity android:name=".test_08_window.TestWindowActivity" />
        <activity android:name=".test_03_activity_intent.IntentTestActivity" />
        <activity android:name=".test_03_activity_intent.IntentTestTwoActivity">
            <intent-filter>
                <action android:name="com.kunminx.action.two" />
                <category android:name="com.kunminx.category.two" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".test_02_activity_task.StandardActivity_One"
            android:exported="true" />
        <activity
            android:name=".test_02_activity_task.StandardActivity_Two"
            android:taskAffinity="com.kunminx.task.a" />
        <activity
            android:name=".test_02_activity_task.SingleTopActivity"
            android:launchMode="singleTop"
            android:taskAffinity="com.kunminx.task.b" />
        <activity
            android:name=".test_02_activity_task.ClearTopActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".test_02_activity_task.SingleTaskActivity_A"
            android:launchMode="singleTask"
            android:taskAffinity="com.kunminx.task.c" />
        <activity
            android:name=".test_02_activity_task.SingleTaskActivity_B"
            android:launchMode="singleTask"
            android:taskAffinity="com.kunminx.task.c" />
        <activity
            android:name=".test_02_activity_task.SingleTaskActivity_C"
            android:launchMode="singleTask"
            android:taskAffinity="com.kunminx.task.d" />
        <activity
            android:name=".test_02_activity_task.SingleTaskActivity_D"
            android:launchMode="singleTask"
            android:taskAffinity="com.kunminx.task.d" />

        <activity
            android:name=".test_02_activity_task.SingleInstanceActivity"
            android:launchMode="singleInstance"
            android:taskAffinity="com.kunminx.task.e" />
        <activity
            android:name=".test_02_activity_task.FlagNewTaskActivity"
            android:taskAffinity="com.kunminx.task.f" />

        <activity android:name=".test_09_animator.AnimatorListActivity" />
        <activity android:name=".test_09_animator.AnimatorDetailActivity" />

        <activity android:name=".test_04_fragment.jump.AddFragmentActivity" />
        <activity android:name=".test_04_fragment.between.BetweenFragmentActivity" />
        <activity android:name=".test_04_fragment.child.ViewPagerFragmentActivity" />

        <activity android:name=".test_10_service.TestServiceActivity" />

        <activity android:name=".test_05_jetpack.JetpackActivity" />
        <activity android:name=".test_07_touch_nested_scroll.TestNestedScrollActivity" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>